@import "src/styles/mixins";

.categoriesDetails {
  @include fluid(margin-top, 10px, 20px);
  @include fluid(margin-bottom, 60px, 90px);
  @include container;
  display: flex;
  justify-content: space-between;
}
.pagination {
  @include container;
  margin-bottom: 75px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
