@import "src/styles/mixins";

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}

.lottie {
  @include fluid(height, 400px, 500px);
}

.svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  position: relative;
  z-index: 100;
}

.two {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.three {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}

.four {
  transform-origin: center;
  animation-name: animation-revert;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}

@keyframes animation-revert {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: 80;
  }
  50% {
    stroke-dasharray: 80 8;
    stroke-dashoffset: 140;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: 280;
  }
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}
