@import "../../../src/styles/mixins";

.joyTech {

  @include fluid(font-size, 14px, 16px);

  span {
    font-weight: 600;
    --bg-size: 400%;
    --color-one: hsl(187, 90%, 55%);
    --color-two: hsl(144, 76%, 49%);
    background: linear-gradient(
                    90deg,
                    var(--color-one),
                    var(--color-two),
                    var(--color-one)
    ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .joyTech {
    span {
      animation: move-bg 8s linear infinite;
    }
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}