@import "src/styles/mixins";

.sliderBanner {
  background: $gradient;
  @include fluid(margin-bottom, 25px, 50px);
  @include fluid(height, 350px, 430px);
}
.block {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text {
  @include fluid(font-size, 24px, 36px);
  margin-bottom: 10px;
  color: $textColor;
  font-weight: 500;
}

.title {
  @include fluid(font-size, 36px, 48px);
  @include fluid(margin-bottom, 15px, 30px);
  font-weight: 700;
}

.button {
  @include fluid(font-size, 16px, 22px);
  @include fluid(margin-top, 25px, 50px);
  @include fluid(padding-top, 10px, 20px);
  @include fluid(padding-bottom, 10px, 20px);
  @include fluid(padding-right, 45px, 90px);
  @include fluid(padding-left, 45px, 90px);
  height: auto;
  color: #fff;
  font-weight: 600;
  background: $primary;
  border-radius: 25px;
  outline: none;
  display: inline-block;
  width: auto;
}

.wrapper {
  @include fluid(height, 350px, 430px);
  width: 50%;
  position: relative;
}

.skeleton {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.dots {
  position: absolute;
  bottom: 50px;
  span {
    background: red;
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .title {
    font-size: 24px;
    text-align: left;
  }
  .text {
    font-size: 18px;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .block {
    padding: 0 20px;
  }
  .title {
    font-size: 16px;
    text-align: left;
  }
  .text {
    font-size: 14px;
  }
}
