@import "src/styles/mixins";

.myButton {
  @include fluid(height, 35px, 55px);
  @include fluid(font-size, 12px, 16px);
  @include fluid(width, 250px, 300px);
  font-weight: 600;
  background: $primary;
  border-radius: 25px;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  transition: $trn;

  &:hover {
    background: $primary;
    opacity: 1;
    color: #fff;
  }
}
